*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.blog{
    padding: 70px 50px;
    
}

.blog-container{
    padding: 0 100px;
    
}

.blog-head{
    display: block;
    margin: 0 auto;
    width: 600px;
    text-align: center;
}


.blog-wrapper{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog-head h1{
    color: hsla(0, 0%, 30%, 1);
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 5px;
}

.blog-head p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: hsla(0, 0%, 44%, 1);
}

.blog-top .p1{
    color:hsla(122, 57%, 69%, 1)  ;
    margin-top: 30px;
}


.blog-top p{
    color: gray;
}














.blogs{
    position: relative;
}

.blog-top{
    position: absolute;
    top: 150px;
    left: 25px;
    right: 0;
  background-color: white;
  width: 317px;
  height: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 1px 1px gray;
  border-radius: 5px;
  

}

.blog-top p{
    margin-top: 20px;
    width: 200px;
}